/* Apply animation to the element */
.fade-in-right {
  right: -200%; /* Start outside the container on the right */
  animation: fadeInRight 1.3s ease-in-out forwards; /* Adjust duration and timing function as needed */
}

.fade-in-right-text {
  right: -200%; /* Start outside the container on the right */
  animation: fadeInRightText 1.4s ease-in-out forwards; /* Adjust duration and timing function as needed */
}

.fade-in-right.active {
  opacity: 1;
  right: 0;
}

@keyframes fadeInRightText {
  0% {
    opacity: 0;
    right: -200%;
  }
  75% {
    opacity: 1;
    right: 12%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    right: -200%;
  }
  75% {
    opacity: 1;
    right: 10%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

.section-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.background-fade {
  animation: fadeIn 0.5s forwards;
}

.background-fade-exit {
  animation: fadeOut 0.5s forwards;
}

.title-slide-in {
  animation: slideInRight 0.5s forwards;
}

.title-slide-out {
  animation: slideOutLeft 0.5s forwards;
}

.title-slide-in-prev {
  animation: slideInLeft 0.5s forwards;
}

.title-slide-out-prev {
  animation: slideOutRight 0.5s forwards;
}

.box {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Initial state without shadow */
  transition: box-shadow 0.5s ease-in-out;
  animation: shadow-animation 1s infinite alternate; /* Animation to pulse the shadow */
}

@keyframes shadow-animation {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.5);
  }
}

.box-wrapper {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px solid white;
  transition: border-color 0.5s ease-in-out;
  animation: border-animation 1s infinite alternate; /* Animation to pulse the shadow */
}

@keyframes border-animation {
  0% {
    border: 1px solid white;
  }
  100% {
    border: 1px solid transparent;
  }
}
